name: my_live_player
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # 只保留最基础的图标和浏览器插件
  cupertino_icons: ^1.0.8
  flutter_inappwebview: ^6.0.0
  permission_handler: ^11.3.0
  # 移除了所有导致 404 的 ffmpeg/gal 库

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
