name: Build iOS IPA for TrollStore

on:
  push:
    branches: [ "main" ]

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Get dependencies
        run: flutter pub get

      - name: Build iOS (No Codesign)
        run: flutter build ios --release --no-codesign

      - name: Make IPA for TrollStore
        run: |
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload/
          zip -r release.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: live_player_ipa
          path: release.ipa
